<div class="navbar navbar-expand-sm navbar-light navbar-own">
  <div class="container-fluid">

    <div class="w-100 d-flex justify-content-between align-iterms-center">
      <ul class="navbar-nav">
          <li class="nav-item active">
            <%= link_to "HOME", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "BLOG", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "MENTORING", "#", class: "nav-link" %>
          </li>
      </ul>
      <h1 class="title">Hi, I'm Zuz</h1>
      <ul class="navbar-nav">
          <li class="nav-item left">
            <%= link_to "ABOUT", "#", class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "CONTACT", "#", class: "nav-link" %>
          </li>
      </ul>
    </div>
  </div>
</div>
