<div class="navbar navbar-expand-sm navbar-light navbar-own">
  <div class="w-100 d-flex justify-content-between align-iterms-center">
    <ul class="navbar-nav d-none d-sm-flex">
        <li class="nav-item active">
          <%= link_to "HOME", "/", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "BLOG", blog_path, class: "nav-link" %>
        </li>
        <!--<li class="nav-item">
          <%= link_to "MENTORING", "#", class: "nav-link" %>
        </li> -->
    </ul>
    <h1 class="title">Hi, I'm Zuz</h1>
    <ul class="navbar-nav right d-none d-sm-flex">
        <li class="nav-item left">
          <%= link_to "ABOUT ME", about_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "CONTACT", contact_path, class: "nav-link" %>
        </li>
    </ul>
    <li class="nav-item dropdown burger d-sm-none">
      <i class="fa-solid fa-bars" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%=  %>
        <a class="dropdown-item" href="/">HOME</a>
        <a class="dropdown-item" href="/blog">BLOG</a>
        <a class="dropdown-item" href="/about">ABOUT ME</a>
        <a class="dropdown-item" href="/contact">CONTACT</a>
      </div>
    </li>
  </div>
</div>
