<div class="container">
  <p class="text-center about-slogan">and this page is about me</p>
  <div class="about-tldr">
    <div class="row">
      <div class="col-sm-4 p-0">
        <div class="about-image"></div>
      </div>
      <div class="col-sm-8">
        <div class="tldr-content">
          <p class="title">Simply, TL;DR</p>
          <div class="bullets mt-5">
            <div class="d-flex justify-content-start align-items-center mb-3">
              <%= image_tag "ellipse_orange", class:"bullet" %>
              <p class="mb-0">based in Berlin</p>
            </div>
            <div class="d-flex justify-content-start align-items-center mb-3">
              <%= image_tag "ellipse_yellow", class:"bullet" %>
              <p class="mb-0">driven by making a difference, teaching and mentoring others</p>
            </div>
            <div class="d-flex justify-content-start align-items-center mb-3">
              <%= image_tag "ellipse_green", class:"bullet" %>
              <p class="mb-0">software engineer, manager and teacher</p>
            </div>
            <div class="d-flex justify-content-start align-items-center mb-3">
              <%= image_tag "ellipse_orange", class:"bullet" %>
              <p class="mb-0">learned how to take care of her curly hair after 30 years of age</p>
            </div>
            <div class="d-flex justify-content-start align-items-center mb-3">
              <%= image_tag "ellipse_yellow", class:"bullet" %>
              <p class="mb-0">favorite food: oats, in any form</p>
            </div>
            <div class="d-flex justify-content-start align-items-center mb-3">
              <%= image_tag "ellipse_green", class:"bullet" %>
              <p class="mb-0">loves: travel, animals, movement</p>
            </div>
            <div class="d-flex justify-content-start align-items-center mb-3">
              <%= image_tag "ellipse_orange", class:"bullet" %>
              <p class="mb-0">speaks: english, german, polish</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <p class="more-info">If you have more time to get to know what I do:</p>
  <div class="row d-none d-sm-flex">
    <div class="col-6">
      <p class="section-title text-center">PROFESSIONALLY</p>
        <div class="professionally p-3">
          <div class="section mx-4">
            <div class="stroked">
              <%= image_tag "brush.svg", class: "stroke" %>
              <p class="section-title text-center over-stroke about">I'm an engineer</p>
            </div>
            <p>I started coding in summer 2018 after quitting my corporate career of 4 years in product and marketing.</p>
            <p>Since then I worked as a <strong>Fullstack Developer</strong> with various technologies, the main ones being <strong>Ruby on Rails</strong>, <strong>React Native</strong> and <strong>Python</strong>.</p>
            <p>In the meantime I also upskilled myself in <strong>Data Science</strong> and worked with Data Analysis, Machine Learning and Data Engineering. Although I’m stunned by the possibilies of this field, I’m still a classic dev at heart 😉</p>
            <p>As far as engineering goes, I also have good genes thanks to my family. If you need any help with fixing anything at home or with your car - hit me up!</p>
          </div>
          <div class="section mx-4">
            <div class="stroked">
              <%= image_tag "brush.svg", class: "stroke yellow" %>
              <p class="section-title text-center over-stroke about">I'm a manager</p>
            </div>
            <p>University degree doesn’t make you a professional however thanks to my management studies I was more or less ready to take on the challenge.</p>
            <p>Over the last couple of years I have been an <strong>Engineering Manager</strong> and <strong>managed big sized teaching teams</strong> that were working for coding bootcamps. Big sized meaning around 30 people on irregular schedule with varying experience ranging from junior assistants to experts with years of experience.</p>
          </div>
          <div class="section mx-4">
            <div class="stroked">
              <%= image_tag "brush.svg", class: "stroke mint" %>
              <p class="section-title text-center over-stroke about">I'm a teacher</p>
            </div>
            <p>Teaching was always a part of my everyday life, starting from educating <strong>sales teams</strong> and <strong>clients</strong> about the specifics of activewear, through <strong>coding classes</strong> for big sized groups up to 50 people, <strong>1:1 mentoring</strong> and last but not least - <strong>training dogs</strong>.</p>
            <p>I personally believe that teaching should be exclusive to people who enjoy it, ideally love it. Without your own passion and faith in your students it's very unlikely for them to get better and keep up the motivation to grow. For me being a teacher is a passion in itself - I love seeing people think, progress, fail and get up again for another round. There are only a few more satisfying things out there than this.</p>
          </div>
        </div>
    </div>
    <div class="col-6">
      <p class="section-title text-center">IN LIFE</p>
        <div class="in-life">
          <div class="section mx-4">
            <p class="section-title text-center over-stroke about">I travel</p>
            <div class="centered">
              <%= image_tag "travel", height: 200, class: "d-block text-center m-2" %>
            </div>
            <p>Long story short - we have a campervan. Her name is Bine (reach out for more details behind its story 😉).</p>
            <p>This car has given a new quality to our travels - you can reach so many more places, meet incredible people, wake up to the most beautiful views and be spontaneous on everyday basis.</p>
            <p>When we don’t drive, it means we have our backpacks full and are going somewhere far. Discovering other cultures, getting involved in local communities and spending stupid amounts of money on food are things we excel at.</p>
          </div>
          <div class="section mx-4">
            <p class="section-title text-center over-stroke about">I have a weakness for dogs</p>
            <div class="d-flex">
              <%= image_tag "dog", height: 340, class: "d-block text-center m-2 shadow-none" %>
              <div>
                <p>I was growing up surrounded by them, from the moment I was born, until I left home for university. This setup created a very fundamental need to be around animals.</p>
                <p>Our four-legged friends can teach us more than we realize. In fact, they shape who we are in everyday life - as friends, coworkers, parents, strangers on the streets. We have recently adopted Leon, who you can see on the picture, and since day one we have started looking at the world in a different way.</p>
              </div>
            </div>
          <div class="section mx-4">
            <p class="section-title text-center over-stroke about">I move</p>
            <div>
              <p>Don't trust the stereotype of a programmer. They don't only sit in front of the screen in their vintage sweaters. They also work from their beds in a reclined position.</p>
              <p>Ok, no more sarcasm. Personally I love movement and literally cannot spend my full days in front of the screen. If I ever tell you that I don't have any energy, tell me to get my ass up and move a little!</p>
              <%= image_tag "muaythai", height: 200, class: "d-block text-center my-3 shadow-none mx-auto" %>
              <p>How to move? I don't have a favorite. It can be a walk with Leon, heavy functional training session, a game of spike ball (which I'm horrible at) or a chilled yoga with Adriene (if you don't know her, highly recommend!)</p>

            </div>
          </div>
          <div class="section mx-4">
            <p class="section-title text-center over-stroke about">I write</p>
            <div>
              <p>Take it seriosuly or not (maybe better) but I've been an avid diarist and journalist for many years now.</p>
              <p>This doesn't make me a professional writer of any sort, but I can say proudly that I write. If you go to the <%= link_to "> blog <", blog_path, class: 'link' %> you can maybe find something for yourself there.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= render "about_mobile" %>
</div>